
body {
    background-color: rgba(0 0 255 /0.10);
    width: 99vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  
    }
    
  

    canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
      z-index:-10;
    }
    .borders {
     
      border: 2px solid rgb(0 196 64 / 0.4);
      z-index: 100;
      outline: 2px solid rgb(0 10 5 / 0.5);
      text-align: center;
    }
    /*This is the actual question input form section*/
    main {
        background-color: rgba(0, 192, 26, 0.701);
        width: 99.6%;
        color: fuchsia;
        height: auto;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }
    section {
      width: 99vw;
      height: auto;
      z-index: 236;
      background-color: rgba(128, 128, 128, 0.1)
      
    }
    @import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
    
    html {
      height: 100%;
      width: 99%;
      background: #111;
      color: rgb(0, 192, 96);
      font-family: "Courier", monospace;
      
    }
   
    .wrapper {
      margin-top: 5%;
      width: 99.5%;
      height: 100%;
      font-size: 24px;
    }
    
    .line__1,
    .line__2 {
        
      white-space: nowrap; /* keep text in one line */
      overflow: hidden; /* hide text behind the cursor */
      margin: 0.5rem auto;
      font-family: "Courier", monospace;
      font-size: 3rem;
      font-weight:300;
      text-align: center;
      text-shadow: 1px 1px rgba(255, 250, 250, 0.758);
    }
    
    .line__1 {
      border-right: 2px solid rgba(17, 17, 17, 0.7);
    
      /* define animation types for text + cursor */
      animation: animated-text__1 6s steps(40, end) 1s 1 normal both,
        animated-cursor__1 900ms steps(40, end) 8;
    }
    
    .line__2 {
      border-right: 2px solid rgba(17, 17, 17, 0.75);
    
      /* define animation types for text + cursor */
      animation: animated-text__2 5s steps(40, end) 1s 1 normal both,
        animated-cursor__2 900ms steps(40, end) infinite;
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
    }
    form {
        background-color: rgba(1, 21, 20, 0.402);
    }
    input {background-color: rgb(0, 15, 15);
    color: rgb(0, 192, 96);text-shadow: 1px 1px aliceblue;
    font-size: 36px;
    font-weight: 200;
}

    @keyframes animated-cursor__1 {
      from {
        border-right-color: rgba(17, 17, 17, 0.9);
      }
      to {
        border-right-color: rgba(255, 255, 255, 0.8);
      }
    }
    
    @keyframes animated-cursor__2 {
      from {
        border-right-color: rgba(17, 17, 17, 0.9);
      }
      to {
        border-right-color: rgba(255, 255, 255, 0.8);
      }
    }
    
    @keyframes animated-text__1 {
      from {
        width: 0;
      }
      to {
        width: 72rem;
      }
    }
    
    @keyframes animated-text__2 {
      from {
        width: 0;
      }
      to {
        width: 64rem;
      }
    }
    